*{
	padding: 0;
	margin: 0;
	box-sizing: border-box	;	
}
body{
	background: url("fondo.jpg") no-repeat center fixed;
	background-size:cover; 
	font-family:sans-serif;/* n */
		
}
/* n */
.main2{
	max-width: 90%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	height: 100vh;
}
.all-users, .user-info{
	background-color: rgba(208, 220, 224, .2);
	width: 100%;
	position: absolute;
	transition: left .5s;
}
.all-users{
	top:80px;
	left:0
}
.all-users--hide{
	left:-110%;
}
.user-info{
	top:60px;
	left:110%;
	
}
.user-info--show{
	top:10px;
	left:0%;
}
.top-bar{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	color:#fff;
	border-bottom:3px solid white;
	width: 100%;
}

.top-bar__buttons{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width: 35%;
	
}
.top-bar__user-info{
	background-color: yellowgreen;
	font-size:1.5rem;
	padding:.2em .4em;
	cursor:pointer;
}
.search{
	
	display:flex;
	color:black;

}
.search input{
	font-size:1em;
	color:black;
	border:none;
	background: none;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	text-align:center;
	outline:0;
	margin-left:10px;
	
}
.search input::placeholder{
	color:black;

}

.content>.content__header, .content__user{
	display:grid;
	grid-template-columns: 50px 50px 50px repeat(5,1fr) ;
	background-color: rgba(208, 220, 224, .4);
	align-items: center;
	justify-items: center;
}
#delete-all-users{
	grid-column: 7/9;
}
p{
	padding:10px;
}
.content__header{
border-bottom: 1px solid grey;
}
.content__link{
	text-decoration: none;
	padding: 1em 0;
}
.content__text{
	text-transform: capitalize;
}
.content__text--header{
	text-transform: uppercase;
	font-weight: 700;
}
.button{
	border-radius:5px;
	padding:.5em .8em;
	cursor:pointer;
	color:white;
	display:block;
}
.button>i{
	padding-left:.5em;
}
.button--edit{
	background-color: green;
}
.button--delete,.button--cancel{
	background-color: crimson;
}
.button--hide{
	display:none;
}
.main__form{
	width: 50%;
	max-width: 650px;
	margin:auto;
	padding-bottom: 30px;
	border-radius: 3px;
	display:flex;
	flex-direction: column;
	margin-top:20px;
	flex-wrap: wrap;
	background: none;
	
	
}
.mainprov{
	width: 95%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	height: 95vh;
	background: none;
	margin:auto;
	margin-top:80px;
	border: 5px solid #3f2f54;
	padding:20px;
	position: relative;
}
.main__form-difunto{
	
	width: 50%;
	max-width: 650px;
	margin:auto;
	padding-bottom: 30px;
	border-radius: 3px;
	display:flex;
	flex-direction: column;
	margin-top:20px;
	flex-wrap: wrap;
	position: relative;
	
}
.main__form-title{
	margin-top: 5px;
	
	color: #3f2f54;
	font-weight: 700;
	position: absolute;
	top:-40px;
	background-color: #f9eed0;
	width: auto;
	border-radius: 10px;
	padding: 5px;
}

.form-label{
	display: block;
	color:white;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	top:-50px;
	z-index:-50;
	transition:all .5s;
	font-weight: 700;
}
.form-js{
	display: block;
	color:#fff71b;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	transition:all .5s;
	top:-100px;
	z-index:1;
}
.formulario__items{
	background: transparent;
	border:none;
	font-size: 20px;
	color:#fff;
	border-radius: 2px;
	padding:12px;
	border-bottom: 2px solid #3f2f54;
	width: 90%;
	margin-bottom:10px
	
}

.formulario__items:focus +.form-label{
	
	z-index:1;
	font-weight: 100;
	top:-100px;
	border:none;

}
.formulario__mensaje{
	background: transparent;
	border:none;
	font-size: 20px;
	color:#fff;
	border-radius: 2px;
	padding:12px;
	border-bottom: 2px solid #3f2f54;
	width: 90%;
	margin-bottom:10px;
	

}
.mensaje{
	display: block;
	color:white;
	margin-top:10px;
	
	position: relative;
	font-size: 20px;
	transition:all .5s;
	z-index:-50;
	top:-140px;
	width: 100%;
}
.mensaje-js{
	display: block;
	color:#fff71b;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	transition:all .5s;
	z-index:1;
	top:-200px;
}
.formulario__mensaje:focus +.mensaje{
	
	z-index:1;
	font-weight: 100;
	top:-200px;

}
#add-user, #update-user{
	width: 200px;
	position: absolute;
	bottom:30px;
	right:40%;
}



.form__button{
	/* background: rgba(203, 176, 39, 0.7);
	border:none;
	font-size: 14px;
	color:#fff;
	border-radius: 5px;
	padding:15px;
	width: 20%;
	border-bottom: 2px solid #fff71b;
	margin: auto;
	margin-top:5px;
	cursor:pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 25px; */
}
.form__button:hover{
	/* background: rgba(203, 176, 39, 0.9); */
}

.formulario__item:hover{
	background: rgba(247, 246, 245, 0.7);
	color:black;
}


@media (max-width:700px){

	.content{
		display:none;
	}
	.all-users{
		margin-top:130px;
	}
	.top-bar{
		display:flex;
		flex-direction: column;
		padding:20px;
	}
	.top-bar__buttons{
		margin-top:20px;
	}
    .header{
		display:none;
        
    }
	.formulario__items{
		font-size: 20px;
	}
	.search{
		display:none;
	}
	.top-bar__user-info{
		margin-left:auto;
		margin-right:auto;
	}

	.main{
		height: 100vh;
		
	}
	
	.form-js{
		display: block;
		color:#fff71b;
		margin-top:10px;
		font-size: 16px;
		position: relative;
		font-size: 20px;
		transition:all .5s;
		top:-95px;
		z-index:1;
	}
	.formulario__items:focus +.form-label{
	
		z-index:1;
		font-weight: 100;
		top:-95px;
	
	}
	.form__button{
		font-size: 14px;
		font-weight: 700;
	}

}




/* 
.header {
	background:#2b1b41;
	display: flex;
	height: 50px;
	padding-left: 20px;
	position: fixed;
	top:0;
	width: 100%;
	color:#fff;
	border-radius: 5px;
	justify-content: space-between;
	padding-right: 10px;
	align-items: center;
	
}

.header__register{
	color:white;
	font-size: 20px;
	text-decoration: none;
	
}


.main{
	
	width: 95%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	height: 90vh;
	background:rgba(0,0,0,.3);
	margin:auto;
	margin-top:80px;
	border: 5px solid white;
	padding:20px;
	position: relative;
	
	
}
.main__form-title{
	margin-top: 5px;
	width: 100%;
	color: #fff;
	font-weight: 700;
	position: absolute;
	top:-40px;
	background-color: rgba(203, 176, 39);
	width: auto;
	border-radius: 10px;
	padding: 5px;;
}

.main__form{
	
	width: 50%;
	max-width: 650px;
	margin:auto;
	
	padding-bottom: 30px;
	border-radius: 3px;
	display:flex;
	flex-direction: column;
	margin-top:20px;
	flex-wrap: wrap;
	
	
}
.main__form-difunto{
	
	width: 50%;
	max-width: 650px;
	margin:auto;
	
	padding-bottom: 30px;
	border-radius: 3px;
	display:flex;
	flex-direction: column;
	margin-top:20px;
	flex-wrap: wrap;
	position: relative;
	
}

.form-label{
	display: block;
	color:white;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	top:-50px;
	z-index:-50;
	transition:all .5s;
	font-weight: 700;
}
.form-js{
	display: block;
	color:#fff71b;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	transition:all .5s;
	top:-100px;
	z-index:1;
}
.formulario__items{
	background: transparent;
	border:none;
	font-size: 20px;
	color:#fff;
	border-radius: 2px;
	padding:12px;
	border-bottom: 2px solid #fff;
	width: 90%;
	margin-bottom:10px
}

.formulario__items:focus +.form-label{
	
	z-index:1;
	font-weight: 100;
	top:-100px;

}
.formulario__mensaje{
	background: transparent;
	border:none;
	font-size: 14px;
	color:#fff;
	border-radius: 2px;
	padding:12px;
	border-bottom: 2px solid #fff;
	width: 90%;
	margin-bottom:10px;
	

}
.mensaje{
	display: block;
	color:#fff71b;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	transition:all .5s;
	z-index:-50;
	top:-140px;
	width: 100%;
}
.mensaje-js{
	display: block;
	color:#fff71b;
	margin-top:10px;
	font-size: 16px;
	position: relative;
	font-size: 20px;
	transition:all .5s;
	z-index:1;
	top:-160px;
}
.formulario__mensaje:focus +.mensaje{
	
	z-index:1;
	font-weight: 100;
	top:-160px;

}



.form__button{
	background: rgba(203, 176, 39, 0.7);
	border:none;
	font-size: 14px;
	color:#fff;
	border-radius: 5px;
	padding:15px;
	width: 20%;
	border-bottom: 2px solid #fff71b;
	margin: auto;
	margin-top:5px;
	cursor:pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 25px;
}
.form__button:hover{
	background: rgba(203, 176, 39, 0.9);
}

.formulario__item:hover{
	background: rgba(247, 246, 245, 0.7);
	color:black;
}


@media (max-width:700px){
    .header{
		display:none;
        
    }
	.formulario__items{
		font-size: 20px;
	}

	.main{
		height: 100vh;
		
	}
	
	.form-js{
		display: block;
		color:#fff71b;
		margin-top:10px;
		font-size: 16px;
		position: relative;
		font-size: 20px;
		transition:all .5s;
		top:-95px;
		z-index:1;
	}
	.formulario__items:focus +.form-label{
	
		z-index:1;
		font-weight: 100;
		top:-95px;
	
	}
	.form__button{
		font-size: 14px;
		font-weight: 700;
	}
	

}


  */